html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-snap-type: y mandatory;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin-bottom: 60px;
}

.mainpagefirstpage {
    background-image: url('../Images/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.mainpagerestpage {
    background-color: white;
}

.backgroundblur {
    backdrop-filter: blur(5px);
}

.backgroundblur2 {
    backdrop-filter: blur(20px) brightness(50%);
}

.backgroundblur3 {
    backdrop-filter: blur(20px);
}

.backgroundblur4 {
    backdrop-filter: blur(5px) brightness(50%);
}

.scrollsnap {
    scroll-snap-type: y mandatory;
}

.sectionnavbar {
    scroll-snap-align: start;
}
section {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    scroll-snap-align: start;
}


.mainpagestationary {
    background-image: url('../Images/stationaryimg1stpage2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.mainpagetoys {
    background-image: url('../Images/toysimg1stpage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.button {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

h2 {
    top: 50%;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.slogan {
    color: black;
    position: relative;
    font-weight: 500;
    top: 40vh;
    text-align: center;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
        opacity: 0.7;
}

.float-container {
    padding: 20px;
}

.float-child {
    float: left;
    padding: 20px;
    margin-right: 20px;
    
}  