@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<body> 
    <div class="mainpagefirstpage"> 
        <section>
            <div class="slogan">
                <h1 class="display-4"><strong>Quality and Affordable Products</strong></h1>
            </div>
  
      </section>
      
     <div class="backgroundblur2 backgroundbrightness">
         <section class="container mainpagestationary">

            <div>
                <h2 class="text-center">The best value stationary products for all your needs</h2>
                  <a class="btn btn-outline-secondary btn-lg button" asp-area="" asp-page="/Stationary">Go To Stationary</a>
            </div>
                   
            
         </section>
      </div>

      <div class="backgroundblur3">
         <section>
            <div class="container">
            </div>
         </section>    
      </div>

      <div class="backgroundblur3">
         <section>
            <div class="container">
            </div>
         </section>
      </div>
  
    </div>
</body>


