@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<body> 
    <div class="mainpagefirstpage"> 
        <section>
            <div class="slogan">
                <h1 class="display-4"><strong>Quality and Affordable Products</strong></h1>
            </div>
  
      </section>
          <section>
            <div class="backgroundblur section">
                <div class="container mainpagerestpage">
                    <br />
                     <br />
                      <br />
                       <br />
                        <br />
                         <br />
                          <br />
                               <br />
                     <br />
                      <br />
                       <br />
                        <br />
                         <br />
                          <br />
                           <br />
                                <br />
                     <br />
                      <br />
                       <br />
                        <br />
                         <br />
                          <br />
                           <br />
                                <br />
                     <br />
                      <br />
                       <br />
                        <br />
                                     <br />
                     <br />
                      <br />
                       <br />
                        <br />
                                     <br />
                     <br />
                      <br />
                       <br />
                        <br />
                      <br />
                       <br />
                </div>
            </div>
          </section>
    </div>
</body>


