@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>




<a href="https://create.vista.com/unlimited/stock-photos/147054583/stock-photo-organized-office-supplies/">Photo Flat lay of black office supplies, notepad, smartwatch and pencils on black blueprint created by DimaBaranow</a>
<a href="https://create.vista.com/unlimited/stock-photos/164806760/stock-photo-composition-of-school-supplies/">Photo Composition of orange and blue school supplies created by VadimVasenin</a>
<a href="https://create.vista.com/unlimited/stock-photos/151410424/stock-photo-keyboard-with-office-supplies-and/">Photo Top view of keyboard with office supplies and smartphone on table top. computer mouse top view created by IgorTishenko</a>
Photo by Karolina Grabowska: https://www.pexels.com/photo/pink-bear-plush-toy-on-white-bed-4887156/



https://detail.tmall.com/item.htm?spm=a230r.1.14.52.b3ec2823Cyslit&id=554775752401&ns=1&abbucket=1&sku_properties=13297542:3460182;122216769:14863995
https://detail.tmall.com/item.htm?spm=a230r.1.14.22.b3ec2823Cyslit&id=546711779140&ns=1&abbucket=1

