@page
@model Y13TPIWebproject.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "Stationary Products";
}

<div class="mainpagestationary">
         <div class="backgroundblur4">
                 <section class="container">
                            <div class="text-center">
                                <h1 class="display-4">Quality and Affordable Stationary</h1>
                            </div>
                                <div class="row">
                                            <div class="card col-auto">
                                              <img src="xxxx.jpg" alt="Some stationary" style="width:100%">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$9.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="xxxx.jpg" alt="Some stationary" style="width:100%">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$9.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                     
                                            <div class="card col-auto">
                                              <img src="xxxx.jpg" alt="Some stationary" style="width:100%">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$9.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                     
                                            <div class="card col-auto">
                                              <img src="xxxx.jpg" alt="Some stationary" style="width:100%">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$9.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                     
                                            <div class="card col-auto">
                                              <img src="xxxx.jpg" alt="Some stationary" style="width:100%">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$9.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="xxxx.jpg" alt="Some stationary" style="width:100%">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$9.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                     
                                     
                                           
                                        
                                          
                                </div>
                    </section>
          </div>
</div>