@page
@model Y13TPIWebproject.Pages.Shared.IndexModel
@{
    ViewData["Title"] = "Stationary Products";
}

<div class="text-center">
    <h1 class="display-4">Quality and Affordable Products</h1>
</div>
