@page
@model Y13TPIWebproject.Pages.TechnologyModel
@{
    ViewData["Title"] = "Technology Products";
}

<div class="text-center">
    <h1 class="display-4">Quality and Affordable Products</h1>
</div>
