@page
@model Y13TPIWebproject.Pages.TechnologyModel
@{
    ViewData["Title"] = "Toy Products";
}

<div class="mainpagetoys">
         <div class="backgroundblur5">

                 <section class="container">
                            <div class="text-center">
                                <h1 class="display-4">Quality and Affordable Toys</h1>
                            </div>
                                <div class="row">
                                            <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i2/2116128192/O1CN01uBdB3z2ANzH9zh4x2_!!2116128192.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$89.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                           <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i3/766568254/O1CN01jpkur22AqNmokqfBz_!!766568254.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$80.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i2/122109916/O1CN01ZA9t9T2N7a04jK1S4_!!122109916.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$19.99</p>
                                              <p>1/28 scale,aluminium construction, 20,4cm x 8.2cm x 6cm</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i4/2200659100688/O1CN01h7NPtd1Gx9EYlyFKM_!!2200659100688.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$79.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i3/2209106264780/O1CN01yDa4Li1lBHvpGBMbf_!!0-item_pic.jpg_430x430q90.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$109.99</p>
                                              <p>8K camera, 120mins flight time</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i3/756423722/O1CN01PYMMV61dMilXfgh0q_!!0-item_pic.jpg_430x430q90.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$34.99</p>
                                              <p>Some text about the the product..</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i4/353101074/O1CN017cvAxp1JnvumH8iT8_!!353101074.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$9.99</p>
                                              <p>Lights up, full metal construction, German ball bearing</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                            <div class="card col-auto">
                                              <img src="https://img.alicdn.com/imgextra/i2/2073186249/O1CN01VH7nZy1w25gjm0Cyx_!!2073186249.jpg" alt="Some stationary" style="width:100%; height: 520px;">
                                              <h1>Some Stationary</h1>
                                              <p class="price">$49.99</p>
                                              <p>1200 beads, 8 colour, diameter 5mm, 10x10x12</p>
                                              <p><button>Add to Cart</button></p>
                                            </div>
                                     
                                     
                                           
                                        
                                          
                                </div>
                    </section>
          </div>
</div>