@page
@model Y13TPIWebproject.Pages.TechnologyModel
@{
    ViewData["Title"] = "Technology Products";
}

<div class="container-fluid">
        <main role="main" class="pb-3">
        </main>
    </div>